{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "quoteProps": "preserve",
  "plugins": ["prettier-plugin-organize-imports"]
}